<div class="row">
<div id="coordonnees-texte" class="large-4 push-8 column">
<div class="row">
<div class="small-12 medium-6 large-12 column">
  <p>Courriel&nbsp;: {% include protected_email.html address_user="bonjour" address_domain="lacofabrique.fr" name="La Cofabrique" %}</p>
</div>
<div class="small-12 medium-6 large-12 column">
  <p class="adr">
    <a href="http://lelieucommun.fr" title="Site web du Lieu Commun"><span class="extended-address">Le Lieu Commun</span></a><br />
    <span class="street-address">8 rue des Soupirants</span><br />
    <span class="postal-code">62100</span> <span class="locality">Calais</span>, <span class="country-name">France</span>
  </p>
</div>
</div>
</div>
<iframe id="coordonnees-map" class="large-8 pull-4 column" width="620" height="264" src="http://umap.openstreetmap.fr/fr/map/le-lieu-commun_74135?scaleControl=false&amp;miniMap=false&amp;scrollWheelZoom=false&amp;zoomControl=true&amp;allowEdit=false&amp;moreControl=false&amp;datalayersControl=false&amp;onLoadPanel=undefined" title="Localisation du Lieu Commun à Calais"></iframe>
</div>
